<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PERSONEL_KAYIT.Properties.Settings.Personel_Veri_TabaniConnectionString"
            connectionString="Data Source=YoNiS\SQLEXPRESS;Initial Catalog=Personel_Veri_Tabani;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="PERSONEL_KAYIT.Properties.Settings.Personel_Veri_TabaniConnectionString1"
            connectionString="Data Source=YoNiS\SQLEXPRESS01;Initial Catalog=Personel_Veri_Tabani;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>